.t{position:fixed;
  top:0;
  right:0;
  left:0;
  margin:auto;
}

.c{position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
}

.b{position:fixed;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
}

html{
  font-size: 100px;
}
.rwdtxt {
  font-size: 1.2rem;
}
@media (min-width: 600px) and (max-width: 1200px) {
  .rwdtxt {
   font-size: calc(1.2rem + (1.3-1.2) * ((100vw - 600px) / (1200 - 600)));
  }
}
@media (min-width: 1200px) {
  .rwdtxt {
     font-size: 1.3rem;
  }
}